<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BabyBox-.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F760FC8C1CB36CD3000F9DA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F760FCA01CB36CD4000F9DA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F760FCAB1CB36CD4000F9DA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
